.pageBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 75px;
    width: 100%
}

.serversHeaderContainer {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    text-align: center
}

.serverSearchFilterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.serverSearchFilterItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px
}

.box {
    width: 300px;
    margin: 25px 0;
    display: flex;
    align-items: center;
    user-select: none
}

.box label {
    position: absolute;
    z-index: 10;
    padding-left: 40px;
    top: 3px;
    cursor: pointer;
    width: 150px
}

.box input {
    opacity: 0;
    visibility: hidden;
    position: absolute
}

.box input:checked ~ .check {
    border-color: var(--color-purple);
    box-shadow: 0 0 0 15px var(--color-purple) inset
}

.box input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1)
}

.box .check {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: var(--color-fast-white);
    border: 2px solid var(--color-purple);
    box-shadow: 0 0 0 0 var(--color-purple) inset;
    transition: all .15s cubic-bezier(0, 1.05, .72, 1.07)
}

.box .check::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-image: url("http://s6.picofile.com/d/8392306668/c38c12a0-6db3-47d4-a80c-7dad8fab5186/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all .25s cubic-bezier(0, 1.05, .72, 1.07)
}

.serverLanguageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column
}

.bubbleLanguageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
}

.languageItem {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: transparent 2px solid;
    cursor: pointer;
    margin: 7px;
    transition: all .2s;
    background-color: var(--color-purple)
}

.languageItem:hover {
    border: rgba(255, 255, 255, .8) 2px solid
}

.languageItem img {
    width: 100%;
    height: 100%;
    border-radius: 50px
}

.imagePath {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px
}

.placeholder {
    width: 120px
}

.serverList {
    margin: 0 auto 20px;
    width: 90%
}

.loaderServer {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center
}

.serverListHeader {
    display: flex;
    width: 90%;
    padding: 10px;
    margin: 70px auto 0;
    background-color: #2b2d31;
    border-radius: var(--border-radius);
    border: solid 2px rgba(255, 255, 255, .03)
}

.serverListHeader:hover {
    border-radius: var(--border-radius);
    background-color: #2f3136
}

.justifyContent {
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column
}

.serverListHeaderIcon {
    display: flex;
    justify-content: center;
    align-items: center
}

.serverListHeaderIcon img {
    width: 50px;
    height: 50px
}

.serverListHeaderText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px
}

.serverCategory {
    width: 100%
}

.serverCategoryTitle {
    color: var(--color-fast-white);
    padding-bottom: 20px;
    padding-left: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

#searchPath {
    margin-right: 40px;
    background-color: var(--color-fast-gray);
    padding: 5px 10px;
    border-radius: var(--border-radius)
}

.sortServerscontainerAction {
    display: flex;
    flex-direction: row
}

.pathLinkArrow {
    position: relative;
    top: 2px
}

.pathLink {
    transition: all .1s
}

.pathLink:hover {
    color: var(--text-link-hover)
}

.serversContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.serversEmpty {
    width: 100%;
    position: relative;
    height: 60vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.serversEmpty img {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.serverCard {
    position: relative;
    margin: 20px 8px 8px;
    height: 500px;
    width: 340px;
    background-color: #292b2f;
    border-radius: var(--border-radius);
    border: 2px solid rgba(255, 255, 255, .1)
}

.serverBackgroundImage {
    height: 175px;
    width: 100%;
    position: relative;
    opacity: .75;
    filter: blur(10px)
}

.serverBackgroundImageContainer {
    height: 175px;
    width: 100%
}

.serverBackgroundImage:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    bottom: 0;
    background-image: linear-gradient(to top, #202224, rgba(256, 256, 256, 0))
}

.serverBackgroundImage img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.serverHeaderContainer {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    overflow: hidden;
    position: relative
}

.serverActions {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2
}

.serverLastBump {
    position: absolute;
    height: 40px;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(32, 32, 32, .7);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 5px
}

.serverVote {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 10px;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    top: 115px;
    left: 75px;
    height: 40px;
    background-color: rgba(32, 32, 32, .7);
    z-index: 3
}

.serverVote img {
    margin-left: 5px;
    width: 20px;
    height: 20px
}

.serverLastBump h4 {
    padding-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s
}

.serverLastBump h4:hover {
    color: var(--color-fast-white)
}

.serverActions img {
    height: 60px;
    width: 60px;
    border-radius: var(--border-radius);
    margin-left: 15px;
    background-color: #36393f
}

.serverJoinButtonContainer {
    margin-right: 15px;
    height: 40px
}

.serverJoinButton {
    background-color: var(--color-purple);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    transition: ease-in-out .2s;
    color: var(--color-fast-white);
    position: relative
}

.serverJoinButton:hover {
    cursor: pointer;
    background-color: #7487ff
}

.warningBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--color-background) !important;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    top: -5px;
    right: -5px;
    padding: 2px
}

.warningBubble img {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important
}



.serverCard .content {
    height: 205px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius)
}

.serverCategoryContainer {
    display: flex;
    margin: 1px 0;
    padding-left: 15px;
    align-items: center
}

.categorie {
    display: flex;
    align-items: center;
    padding: 5px .8em;
    color: var(--color-fast-white);
    border-radius: var(--border-radius);
    background-color: var(--color-fast-gray);
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, .1)
}

.serverCategoryContainer a {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 13px;
    display: flex
}

.serverCategoryContainer img {
    height: 25px
}

.serverTitle {
    display: flex;
    align-items: center;
    color: var(--color-fast-white);
    width: 100%;
    padding-top: 5px;
    padding-left: 15px
}

.serverTitle h3 {
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.serverTitle img {
    height: 20px;
    padding-right: 5px
}

.serverDescription {
    color: #a9a9a9;
    width: 90%;
    height: 191px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #2b2d31;
    border-radius: 5px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto
}

.serverDescription::-webkit-scrollbar {
    width: 5px
}

.serverDescription::-webkit-scrollbar-track {
    background: 0 0
}

.serverDescription::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: var(--border-radius)
}

.serverDescriptionContent {
    margin: 15px;
    font-size: 17px;
    font-weight: 400
}

.serverDescription img {
    width: 100%;
    border-radius: var(--border-radius)
}

.serverStatus {
    background-color: #292b2f;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: -1.5px;
    padding-top: 5px;
    padding-bottom: 8px;
    display: flex;
    color: #cbd6d6;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    border-right: 2px solid rgba(255, 255, 255, .1);
    border-left: 2px solid rgba(255, 255, 255, .1)
}

.memberCount, .onlineCount {
    padding-left: 15px;
    display: flex;
    align-items: center
}

.memberCountNumber {
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: var(--border-radius);
    margin-right: 5px;
    border: 1px solid rgba(255, 255, 255, .1);
    font-weight: 700
}

.serverStatusTag {
    height: 8px;
    width: 8px;
    border-radius: var(--border-radius);
    margin-right: 5px
}

.online {
    background-color: #0f8
}

.member {
    background-color: #cbd6d6
}

.reactionsResume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 auto
}

.reactionsContent {
    display: flex;
    flex-direction: row;
    margin-right: 3px
}

.reactionBubbleItem {
    display: flex;
    margin-left: -10px;
    width: 25px;
    height: 25px;
    border: 3px solid #202224;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer
}

.reactionBubbleItem img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%
}

.reactionTotalCount {
    background-color: rgba(0, 0, 0, .3);
    border-radius: var(--border-radius);
    border: solid rgba(255, 255, 255, .3) 1px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: bolder;
    cursor: pointer
}

.likeTotalCount {
    position: absolute;
    right: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: var(--border-radius);
    border: solid rgba(255, 255, 255, .3) 1px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bolder
}

.reactionBubbleItem:hover img {
    filter: grayscale(0)
}

.hiddenCard {
    display: none
}

.paginationContainer {
    padding-top: 20px;
    margin: 20px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.paginationLinkContainer a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 4px
}

.paginationLinkContainer a:first-child {
    padding: 4px 12px
}

.paginationLinkContainer a:hover {
    cursor: pointer;
    background-color: #16171a;
    color: #e0e0e0;
    border-radius: 100%
}

.paginationLinkContainer a.selected {
    color: var(--color-fast-white);
    background-color: var(--color-purple);
    border-radius: 100%
}

.paginationButtons {
    color: var(--color-fast-white);
    margin: 20px;
    padding: 8px 12px;
    background-color: #2c2f33;
    border-radius: var(--border-radius);
    transition: ease-in-out;
    transition-duration: .1s
}

.paginationButtons:hover {
    cursor: pointer;
    background-color: #393e42
}

.paginationButtons img {
    height: 15px;
    width: 15px;
    position: relative;
    top: 2px
}

.serverTags {
    margin: 4px 15px
}

.tags {
    text-align: center;
    transition: ease-in-out;
    transition-duration: .1s;
    background-color: var(--color-purple);
    border-radius: var(--border-radius);
    padding: 2px 10px;
    font-size: 14px
}

.tags:hover {
    cursor: pointer;
    color: #fff !important;
    background-color: #7487ff
}



.serverCard:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8)
}

.serverCardPremium {
    border: 2px solid var(--color-purple) !important
}

.serverCardPremiumRandom {
    border: 2px solid var(--color-green) !important
}

.serverCardPremium .serverStatus {
    border-bottom: 2px solid var(--color-purple) !important;
    border-right: 2px solid var(--color-purple) !important;
    border-left: 2px solid var(--color-purple) !important
}

.serverCardPremiumRandom .serverStatus {
    border-bottom: 2px solid var(--color-green) !important;
    border-right: 2px solid var(--color-green) !important;
    border-left: 2px solid var(--color-green) !important
}



.serverInformationContainer {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 40px;
    top: 3px;
    background-color: #202224;
    border-radius: var(--border-radius);
    z-index: 5;
    opacity: 0;
    padding: 10px;
    min-width: 160px;
    max-width: 320px
}

.serverInformationContainer .report {
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.serverInformationItem {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    min-height: 32px;
    -webkit-box-align: center;
    border-radius: var(--border-radius);
    color: #b9bbbe
}

.serverInformationItem:hover {
    color: var(--color-fast-white);
    background-color: var(--color-purple);
    cursor: pointer
}

.serverInformationItem div {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.serverInformationItem img {
    width: 19px;
    height: 19px
}

.serverHeaderContainer .stats {
    left: 40px
}




.serverTagsContainer {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.serverTagsContainer::-webkit-scrollbar {
    display: none
}

.likesCount {
    background-color: rgba(0, 0, 0, .3);
    border-radius: var(--border-radius);
    border: solid rgba(255, 255, 255, .3) 1px;
    padding: 0 5px;
    position: relative;
    top: 15px;
    left: 35px;
    font-weight: bolder
}

.newServerBadge {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: -15px;
    z-index: 5;
    cursor: pointer;
    transition: all .2s
}

.newServerBadge img {
    width: 100%;
    height: 100%
}

.serverCard:hover .newServerBadge {
    opacity: 0
}

.toggle-btn {
    width: 60px;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 35px center #cf4f4f;
    cursor: pointer;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
    cursor: pointer
}

.toggle-btn.active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 10px center var(--color-purple)
}

.toggle-btn.active .round-btn {
    left: 35px
}

.toggle-btn .round-btn {
    width: 20px;
    height: 20px;
    background-color: var(--color-fast-white);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.toggle-btn .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer
}

.made-with-love {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 10px;
    text-align: center;
    font-size: 10px;
    z-index: 9999;
    font-family: arial;
    color: var(--color-fast-white)
}

.made-with-love i {
    font-style: normal;
    color: #f50057;
    font-size: 14px;
    position: relative;
    top: 2px
}

.made-with-love a {
    color: var(--color-fast-white);
    text-decoration: none
}

.made-with-love a:hover {
    text-decoration: underline
}

.showMoreButton {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-fast-white);
    padding: 15px 0;
    background-color: #5764f1;
    width: 80%;
    border-radius: var(--border-radius);
    transition: ease-in-out;
    transition-duration: .1s;
    margin: 50px auto
}

.showMoreButton:hover {
    background-color: #4c57d4;
    color: var(--color-fast-white)
}





.serversResultsBlock {
    position: absolute;
    margin: 0 auto;
    display: flex;
    width: 70%;
    top: 123px;
    border-radius: var(--border-radius);
    background-color: #2c2f33;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
    border: solid #404349 2px
}

.serversResultsHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center
}

.serversResults {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap
}

.serverCardResult {
    display: flex;
    width: 250px;
    height: 50px;
    flex-direction: row;
    margin: 5px
}

.serverCardResult:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    border-radius: var(--border-radius)
}

.serverCardResultIcon {
    display: flex;
    flex: .2;
    border-radius: var(--border-radius);
    overflow: hidden
}

.serverCardResultIcon img {
    width: 100%;
    height: 100%
}

.serverCardResultName {
    display: flex;
    flex: .8;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center
}

.serverCardResultName span {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 190px
}

.serverCardResultName span::first-letter {
    text-transform: uppercase
}

.tagSearch {
    flex-wrap: nowrap;
    position: relative;
    color: var(--color-fast-white);
    background-color: var(--color-purple);
    margin-left: 10px;
    border-radius: var(--border-radius);
    padding: 2px 10px;
    cursor: pointer;
    transition: ease-in-out .2s
}

.tagSearch :hover {
    background-color: #7487ff
}

.tag {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    color: var(--color-fast-white);
    background-color: var(--color-purple);
    margin: 5px;
    font-size: 1em;
    border-radius: var(--border-radius);
    padding: 2px 40px 2px 1em;
    cursor: pointer;
    transition: ease-in-out .2s
}

.tag:hover {
    background-color: #7487ff
}

.popularTagsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto 0;
    width: 90%
}

.popularTagsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}

.popularTagsHeader img {
    width: 50px;
    height: 50px;
    margin: 0 5px
}

.popularTagList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 120px
}

.popularTagList a {
    font-size: 17px;
    margin-right: 25px
}

.text-align-center {
    text-align: center;
    margin: auto
}

.sortServerscontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px
}

.sortButton {
    display: flex;
    background-color: #50545b;
    padding: 2px 10px;
    border-radius: var(--border-radius);
    color: var(--color-fast-white);
    cursor: pointer;
    margin: 5px;
    text-align: center
}

.selected {
    background-color: var(--color-purple)
}

.serverPremiumCard {
    display: flex;
    width: 90%;
    height: 300px;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: 2px solid #3f4144;
    margin: 10px;
    position: relative
}

.serverPremiumCardLeft {
    display: flex;
    background-color: #292b2f;
    padding: 5px;
    flex: .4;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-direction: column
}

.serverPremiumCardHeader {
    display: flex;
    width: 99%;
    height: 60px;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #2b2d30;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #43464b85
}

.serverPremiumCardIcon {
    width: 60px;
    height: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #2b2d30;
    overflow: hidden;
    margin-right: 10px
}

.serverPremiumCardIcon img {
    width: 100%;
    height: 100%
}

.serverPremiumCardInfos {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px
}

.serverPremiumCardInfos a {
    display: flex;
    justify-content: center;
    align-items: center
}

.serverPremiumCardInfos img {
    height: 20px;
    padding-right: 5px
}

.serverPremiumCardDescription {
    display: flex;
    width: 98%;
    height: 195px;
    padding: 5px 0 0 5px;
    font-size: 17px;
    font-weight: 400;
    overflow: auto;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: solid 1px #41424685;
    border-radius: 5px;
    background-color: #2b2d31;
    margin-top: 10px
}

.serverPremiumCardDescription img {
    width: 100%;
    border-radius: var(--border-radius)
}

.serverPremiumCardDescription::-webkit-scrollbar {
    display: none
}

.serverPremiumCardCounter {
    display: flex;
    width: 100%;
    align-items: center;
    height: 25px;
    margin-top: 7px;
    color: var(--color-fast-white)
}

.serverPremiumCardRight {
    position: relative;
    flex: .6;
    display: flex;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    overflow: hidden
}

.serverPremiumBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius)
}

.serverPremiumCardRightInfos {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    flex-direction: row-reverse;
    align-items: center
}

.serverPremiumCardRightInfos div {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
    border-radius: var(--border-radius);
    color: var(--color-fast-white);
    cursor: pointer
}

.serverPremiumCardRightInfos div > img {
    margin-left: 5px;
    width: 20px;
    height: 20px
}

.serverPremiumCardJoinButton {
    position: absolute;
    width: auto;
    background-color: var(--color-purple);
    color: var(--color-fast-white);
    border-radius: var(--border-radius);
    right: 10px;
    bottom: 45px;
    padding: 10px 15px;
    cursor: pointer;
    transition: ease-in-out .2s
}

.serverPremiumCardJoinButton:hover {
    background-color: #7487ff
}

.serverCardDisabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
    filter: blur(5px)
}

.serverCardPremiumText {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 10
}

.serverCardPremiumText span {
    font-family: 'Odibee Sans', cursive;
    font-weight: bolder;
    font-size: 5em;
    color: #cf4f4f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-fast-white);
    opacity: .7;
    letter-spacing: 5px
}

.loaderServerPremium {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #292b2f;
    z-index: 5;
    border-radius: var(--border-radius)
}

.lds-ellipsis-premium {
    display: inline-flex !important;
    align-items: center !important
}

.rotationCommandsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 10px auto 0
}

.rotationCommands {
    display: flex;
    justify-content: center;
    align-items: center
}

.commandButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    background-color: var(--color-purple);
    border-radius: var(--border-radius);
    color: var(--color-fast-white);
    margin: 10px 5px;
    cursor: pointer
}

.commandButton:hover {
    background-color: #4d59cd
}

.nsfwButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius);
    color: var(--color-fast-white);
    margin: 10px 5px;
    cursor: pointer
}

.nsfwButton:hover {
    background-color: #4d59cd
}

.premiumBandContainer {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
    justify-content: center
}

.premiumBand {
    display: flex;
    background: var(--color-purple);
    color: #fff;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    height: 20px;
    text-align: center;
    font-size: 13px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase
}

.premiumBandRandom {
    background: var(--color-green) !important
}

.homeGetStarted {
    padding-top: 25px;
    padding-bottom: 100px;
    margin-top: 55px;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column
}

.homeGetStarted img {
    position: relative;
    top: 6px;
    height: 30px;
    width: 30px
}

.homeGetStarted h4 {
    margin-top: 10px
}

.partnerTitleContainer {
    text-align: center
}

.getStartedPartnerButton {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-purple);
    color: var(--color-fast-white);
    padding: 0 10px;
    transition: .1s ease-in-out;
    border-radius: var(--border-radius)
}

.getStartedPartnerButton:hover {
    color: var(--color-fast-white);
    background-color: var(--color-purple);
    border-radius: var(--border-radius)
}

.serverPremiumInfosButton {
    opacity: .85;
    position: absolute;
    transition: .2s ease-in-out;
    z-index: 5;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: #202224;
    border-radius: 50%;
    padding-right: 1px;
    cursor: pointer
}

.serverPremiumInfosButton:hover {
    opacity: 1
}

.serverPremiumInfosButtonLink {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.serverPremiumInfosButtonLink img {
    width: 15px;
    height: 15px
}