{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/tooltips.css' %}">
    <link rel="stylesheet" href="{% static 'css/article_add_reaction.css' %}">
    <link rel="stylesheet" href="https://discordinvites.net/node_modules/@sweetalert2/themes/dark/dark.min.css?v=896">
{% endblock %}

{% block content %}
    <div class="reactionFormContainer">
        <div class="reactionFormHeader">
            <h1 class="regularText">Modification de <span class="coloredText">{{ article.title }}</span></h1>
        </div>
        <div class="formReactionContainer">
            <div class="formSection">
                <h2 class="formSectionTitle regularText" isRequired="true">The name of article</h2>
                <label>
                    {{ form.title }}
                </label>
            </div>
            <div class="formSection">
                <h2 class="formSectionTitle regularText" isRequired="true">Content</h2>
                {{ form.content }}
                <p class="help">- Describe your feelings on the article <br>
                    - Stay respectful (under penalty of being banned by the moderation team) </p>
            </div>
            <div class="formValidationContainer">
                <a class="formButton" green id="save">Save</a>
                <a class="formButton" blue
                   href="{% url 'dashboard_article_reaction' article_id=article.id %}">Comment</a>
                <a class="formButton" red id="delete">Delete</a>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="https://discordinvites.net/node_modules/sweetalert2/dist/sweetalert2.min.js"
            type="text/javascript"></script>
    <script>
        $(document).ready(() => {
            $('#id_title').val("{{ article.title }}")
            $('#id_content').val("{{ article.content }}")
        })
        $('#delete').click(() => {
            const csrfToken = '{{ csrf_token }}';
            fetch(`${window.location.href}?id={{ article.id }}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrfToken,
                }
            }).then(response => response.json())
                .then(data => {
                    Swal.fire({
                        icon: data.message ? 'success' : 'error',
                        title: 'Article Removed',
                        text: data.message ?? data.error,
                        allowOutsideClick: false
                    }).then(() => {
                        document.location.href = '{% url 'dashboard' %}'
                    })
                })
            .catch(error => console.error('Erreur :', error));
        })
        $('#save').click(() => {
            const content = $('#id_content').val();
            const title = $('#id_title').val();
            const csrfToken = '{{ csrf_token }}';
            if (title.length < 1 || content.length < 1)
                return Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Merci de remplir tous les champs"
                });
            const formData = new FormData();
            formData.append('title', title);
            formData.append('content', content);
            formData.append('article', {{ article.id }});
            fetch('./', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                },
                body: formData
            }).then(response => response.json())
                .then(data => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Article edited',
                        text: data.message,
                        allowOutsideClick: false
                    }).then(() => {
                        document.location.reload()
                    })
                })
                .catch(error => console.error('Erreur :', error));
        })

    </script>
{% endblock %}