{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltips.css' %}">
    <link rel="stylesheet" href="https://discordinvites.net/node_modules/@sweetalert2/themes/dark/dark.min.css?v=896">
    <style>
        .serverInfosBackgroundImg {
            background-image: url({% if article.image %}{{ article.image.url }}{% else %}/static/imgs/logo/Image_not_available.png{% endif %});
        }
    </style>
{% endblock %}

{% block content %}
    <div class="serverInfosContainer">
    <div class="serverInfosBackground">
        <div class="serverInfosName">{{ article.title }}</div>
        <div class="serverInfosBackgroundImg"></div>
    </div>
    <div class="serverInfosIcon">
        <img src="{% if article.icon %} {{ article.icon.url }} {% else %}/static/imgs/logo/no-image-icon-23494.png{% endif %}"
             alt="{{ article.title }}">
    </div>
    <div class="serverInfos">
        <div class="serverInfosRow">
            <a href="{% url 'profile' user_id=article.author.pk %}">
                <div class="serverInfosItem" tooltip="Créateur">
                {{ article.author.get_username|capfirst }}
            </div>
            </a>
            <div class="serverInfosItem" tooltip="Date de création">
                <div class="serverInfosLogo">
                    <img src="/static/imgs/logo/time-white.png" alt="time">
                </div>
                {{ article.date }}
            </div>
        </div>
    </div>
    <div class="serverInfosContent">
        <div class="serverInfosPart">
            <div class="serverInfosPartDrop regularText uppercase h2" data-toggle-id="content">
                <span>Contenu</span>
                <img src="/static/imgs/logo/chevron-up.webp" alt="up">
            </div>
            <div class="serverDescriptionContent" id="content">
                <p>{{ article.content | safe }}</p>
            </div>
        </div>
        <hr>
        <div class="serverInfosPart">
            <div class="serverInfosPartDrop regularText uppercase h2" data-toggle-id="reaction">
                <span>Reactions</span>
                <img src="/static/imgs/logo/chevron-up.webp" alt="up">
            </div>
            {% with stars=article.calculate_average %}
                <div id="reaction">
                    <div class="reactionResumeContainer">
                        <div class="reactionResumeLeft">
                            <div>
                                <h2>
                                    {{ stars.average_total }}
                                    <span class="lightText">/5</span>
                                </h2>
                                <span class="lightText">{{ stars.total_comments }} reactions</span>
                                <a href="{% url 'article_reaction' article_id=article.id %}">
                                    <div class="addReactionButton">Add reaction</div>
                                </a>
                            </div>
                            {% if stars.average_image %}
                                <div class="reactionResumeLeftReaction" tooltip="Average reaction">
                                    <img src="/static/imgs/reactions/{{ stars.average_image }}" alt="very-good">
                                </div>
                            {% endif %}
                        </div>
                        <div class="reactionResumeRight">
                            {% for star in stars.percentages_array %}
                                <div class="progressBarContainer">
                                    <img src="/static/imgs/reactions/{{ stars.images|default:''|slice:forloop.counter|last }}"
                                         alt="very-good">
                                    <div class="progressBar">
                                        <div class="bar" style="width: {% if star %}
                                            {{ star.percentage }}{% else %}0{% endif %}%;"></div>
                                    </div>
                                    <span class="lightText">{% if star %}{{ star.stars }}{% else %}0{% endif %}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if article.comments.count > 0 %}
                        <hr>
                        <div class="reactionsContainer">
                            {% for comment in article.comments.all %}
                                <div class="reaction">
                                    {% if comment.author.id == user.pk %}
                                        <div class="reactionOptions" onclick="trash({{ comment.id }})">
                                            <img src="https://discordinvites.net/assets/logo/trash.png" alt="trash-icon">
                                        </div>
                                    {% endif %}
                                    <div class="reactionInfos">
                                        <div class="reactionInfosText">
                                            <div class="reactionInfosTextUp">
                                                <span class="reactionUserName">{{ comment.author|capfirst }}</span>
                                                <div class="reactionEmojiContainer">
                                                    {% for image in stars.images %}
                                                        <div class="reactionEmoji {% if comment.get_image == image %}selected{% endif %}">
                                                            <img src="/static/imgs/reactions/{{ image }}" alt="bad">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="reactionDate lightText">
                                                {{ comment.created_at }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reactionContent regularText">
                                        {{ comment.content }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://discordinvites.net/node_modules/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script>
        const ASSETS_URL = "/static/imgs";
        const serverInfosPartDropSelector = $(".serverInfosPartDrop")
        serverInfosPartDropSelector.click(function () {
            let toggleId = $(this).data("toggle-id");
            let targetElement = $("#" + toggleId);
            if ("none" === targetElement.css("display")) {
                targetElement.slideDown(200);
                $(this).find("img").attr("src", ASSETS_URL + "/logo/chevron-up.webp");
            } else {
                targetElement.slideUp(200);
                $(this).find("img").attr("src", ASSETS_URL + "/logo/chevron-down.png");
            }
        });

        function trash(id) {
            const csrfToken = '{{ csrf_token }}';
            fetch(`${window.location.href}?id=${id}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrfToken,
                }
            }).then(response => response.json())
                .then(data => {
                    Swal.fire({
                        icon: data.message ? 'success' : 'error',
                        title: 'Comment Removed',
                        text: data.message ?? data.error,
                        allowOutsideClick: false
                    }).then(() => {
                        document.location.reload()
                    })
                })
            .catch(error => console.error('Erreur :', error));
        }
    </script>
{% endblock %}